* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
font-family: "Libre Bodoni", serif;
}
article, aside, details, figcaption, figure, main, footer, header, hgroup, nav, section
{
display: block;
}
body
{
line-height: 1;
background-color: #fafafa;
}
ol, ul
{
list-style: none;
}
table
{
border-collapse: collapse;
border-spacing: 0;
}
header{
    width: 100%;
    height: 200px;
    background-color: #f472b6;
}
.logo{
   width: 100%;
   height: 200px;
   background-image: url(../Monograma/CC_2.png);
   background-size: 200px, cover;
   background-repeat: no-repeat;
   background-position: center;
}
h1,h2,h3,h4{
    margin-left: 10px;
    margin-top: 30px;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}
#cp{
    color: palevioletred;
}
nav.nav-1{
    width: 100%;
    height: 200px;
    background-color: #fbcfe8;
}
ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #1f2937;
    font-size: 20px;
}
li a{
    text-decoration: none;
    color: white;
}
p{
    font-size: 20px;
}
.texto1,.texto2,.texto3{
    margin-top: 13px;
    margin-left: 10px;
    height: 50px;
}
.texto4{
    display: flex;
    flex-wrap: wrap;
}
.tex{
    line-height: 1.1;
    text-align: center;
    margin-top: 12px;
    margin-left: 12px;
}
.app{
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    width: 160px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visual{
    background-image: url(../IMG/Visual_Studio_Code_svg.png);
    width: 100px;
    height: 90px;
    margin-left: 12px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 6px;
}
.illustrator{
    background-image: url(../IMG/illustrator.png);
    width: 100px;
    height: 90px;
    margin-left: 12px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 6px;
}
.photoshop{
    background-image: url(../IMG/photoshop.png);
    width: 100px;
    height: 90px;
    margin-left: 12px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 6px;
}
.premiere{
    background-image: url(../IMG/Premiere.png);
    width: 100px;
    height: 90px;
    margin-left: 12px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 6px;
}
.after{
    background-image: url(../IMG/After_Effects.png);
    width: 100px;
    height: 90px;
    margin-left: 12px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 6px;
}
.indesing{
    background-image: url(../IMG/InDesign.png);
    width: 100px;
    height: 90px;
    margin-left: 12px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 6px;
}
.canva{
    background-image: url(../IMG/canva.svg);
    width: 100px;
    height: 90px;
    margin-left: 12px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 6px;
}
.libre{
    background-image: url(../IMG/LibreOfficewriter.png);
    width: 100px;
    height: 90px;
    margin-left: 19px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 6px;
}
.pie-principal{
    height: 200px;
    width: 100%;
    background-color:#f472b6 ;
}
.lista-nav{
    width: 100%;
    height: 100px;
}
li a{
    text-decoration: none;
    color: #1f2937;
}
ul{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#copy{
    margin-left: 12px;
}
.autor{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #1f2937;
}
@media (min-width: 768px){
    .nav-1{
        width: 100%;
        height: 50px;
    }
    .nav-1 ul{
        flex-direction: row;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header{
        width: 100%;
        height: 200px;
    }
      .lista-nav ul{
        flex-direction: row;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}