* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
font-family: "Libre Bodoni", serif;
}
article, aside, details, figcaption, figure, main, footer, header, hgroup, nav, section
{
display: block;
}
body
{
line-height: 1;
background-color: #fafafa;
}
ol, ul
{
list-style: none;
}
table
{
border-collapse: collapse;
border-spacing: 0;
}
header{
    width: 100%;
    height: 200px;
    background-color: #f472b6;
}
.logo{
   width: 100%;
   height: 200px;
   background-image: url(../Monograma/CC_2.png);
   background-size: 200px, cover;
   background-repeat: no-repeat;
   background-position: center;
}
h1,h2,h3,h4{
    margin-left: 10px;
    margin-top: 30px;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}
h6{
    font-size: 20px;
    margin-top: 20px;
}
#cp{
    color: palevioletred;
}
nav.nav-1{
    width: 100%;
    height: 200px;
    background-color: #fbcfe8;
}
ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #1f2937;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #1f2937;
    font-size: 22px;
}
p{
    font-size: 20px;
}
.texto4{
    display: flex;
    flex-wrap: wrap;
}
.tex{
    line-height: 1.1;
    text-align: center;
    margin-top: 12px;
    margin-left: 12px;
}
.app{
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    width: 160px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.taza{
    background-image: url(../IMG/Tazas.jpg);
    width: 300px;
    height: 200px;
    margin-left: 12px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 6px;
}
.tex-taza{
    margin-left: 12px;
    margin-top: 12px;
}
.tex-disco{
    margin-left: 12px;
    margin-top: 12px;
}
.disco{
    background-image: url(../IMG/Disco3.jpg);
    width: 300px;
    height: 200px;
    margin-left: 12px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-image: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px solid black;
}
.pie-principal{
    height: 200px;
    width: 100%;
    background-color:#f472b6 ;
    margin-top: 10px;
}
.lista-nav{
    width: 100%;
    height: 100px;
}
a{
    text-decoration: none;
    color: #1f2937;
    margin-left: 12px;
    margin-top: 10px;
}
ul{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#copy{
    margin-left: 12px;
}
.autor{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #1f2937;
}
@media (min-width: 768px){
    .nav-1{
        width: 100%;
        height: 50px;
    }
    .nav-1 ul{
        flex-direction: row;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header{
        width: 100%;
        height: 200px;
    }
      .lista-nav ul{
        flex-direction: row;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.taza-1{
    margin-top: 1px;
}
video{
    width: 300px;
    height: 200px;
}
.video1,.video2{
    width: 400px;
    height: 200px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;

}

